[Unit]
Description=USB Gadget Setup
After=usb-gadget.target
Before=network.target
ConditionPathExists=/bin/usb-gadget-setup.sh

[Service]
Type=oneshot
ExecStart=/bin/usb-gadget-setup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
