# Ich möchte zur Laufzeit auf /proc/config.gz schauen, wie die Konfiguration zur Kompilierzeit war:
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
# I want to use the USB serial, but G_MULTI also accomplishes that.
CONFIG_USB_G_SERIAL=n
#G_MULTI should bring all we need
CONFIG_USB_G_MULTI=y
#CONFIG_USB_GADGET_DEBUG=y
#CONFIG_USB_GADGET_DEBUG_FILES=y
#CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_RNDIS=y
# these are selected by g_multi according to https://www.kernelconfig.io/config_usb_g_multi?q=&kernelversion=6.15.7&arch=arm
#CONFIG_USB_G_MULTI_CDC
#CONFIG_USB_LIBCOMPOSITE
#CONFIG_USB_U_SERIAL
#CONFIG_USB_U_ETHER
#CONFIG_USB_F_ACM
#CONFIG_USB_F_MASS_STORAGE

# from these, it depends
CONFIG_USB_GADGET=y

# I want console on serial:
CONFIG_U_SERIAL_CONSOLE=m

